<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            <fieldset class="table-search-fieldset">
                <legend>搜索信息</legend>
                <div style="margin: 10px 10px 10px 10px">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">角色名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="RoleName" autocomplete="off" class="layui-input">
                                </div>
                                <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>

            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                    <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
                </div>
            </script>

            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

            <script type="text/html" id="currentTableBar">
                <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            </script>

        </div>
    </div>
    <script src="../../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="../../js/lay-config.js?v=1.1.0" charset="utf-8"></script>
    <script>
        layui.use(['form', 'table', 'nixue'], function () {
            if (!layui.AddRoute()) return;
            var $ = layui.jquery,
                form = layui.form,
                table = layui.table,
                nx = layui.nixue,
                banx = layui.BaseNx;

            table.render({
                elem: '#currentTableId',
                url: '../../Api/AdminServers/GetRoleDirectorys',
                method: "post",
                toolbar: '#toolbarDemo',
                defaultToolbar: ['filter', 'exports', 'print'],
                cols: [[
                    { type: "checkbox", minWidth: 50 },
                    { field: 'Id', minWidth: 80, title: 'ID', sort: true },
                    { field: 'RoleName', minWidth: 80, title: '角色名称' },
                    { field: 'Descriptions', minWidth: 80, title: '角色描述', sort: true },
                    /*{ field: 'HomeState', minWidth: 80, title: '显示主页' },*/
                    { title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center" }
                ]],
                limits: [10, 15, 20, 25, 50, 100],
                limit: 15,
                page: true,
                skin: 'line',
                height: 'full-200',
                cellMinWidth: 80,
                parseData: nx.TableParseData
            });

            // 监听搜索操作
            form.on('submit(data-search-btn)', function (data) {
                //var result = JSON.stringify(data.field);
                //layer.alert(result, {
                //    title: '最终的搜索信息'
                //});

                btnSubmit(data.field);

                return false;
            });

            function btnSubmit(field) {
                //执行搜索重载
                table.reload('currentTableId', {
                    page: {
                        curr: 1
                    },
                    where: field
                }, 'data');
            }

            /**
             * toolbar监听事件
             */
            table.on('toolbar(currentTableFilter)', function (obj) {
                if (obj.event === 'add') {  // 监听添加操作
                    nx.open({
                        title: '添加角色',
                        content: '../../Admin/RoleManageEdit',
                        end: function () {
                            btnSubmit();
                        }
                    });
                } else if (obj.event === 'delete') {  // 监听删除操作
                    var checkStatus = table.checkStatus('currentTableId')
                        , data = checkStatus.data;
                    var idlist = nx.GetIds(data, 'Id');
                    if (idlist) {
                        nx.Psot(function (result) {
                            if (result.code == 0) {
                                btnSubmit();
                                layer.msg(result.msg);
                            } else {
                                layer.msg(result.msg);
                            }
                        }, '../../Api/AdminServers/DeleteRoleDirectorys', { idlist: idlist });
                    } else {
                        nx.msg('请选中需要操作的数据！', null, 2);
                    }
                    //layer.alert(JSON.stringify(data));
                }
            });

            //监听表格复选框选择
            table.on('checkbox(currentTableFilter)', function (obj) {
                console.log(obj)
            });

            table.on('tool(currentTableFilter)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    var queryurl = "?id=" + data.Id;
                    nx.open({
                        title: '编辑角色',
                        content: '../../Admin/RoleManageEdit' + queryurl,
                        end: function () {
                            btnSubmit();
                        }
                    });
                    return false;
                }
            });

        });
    </script>

</body>
</html>